@model IEnumerable<Admin.Exam.WebService.Test>

@{
    ViewBag.Title = "Тестове";
}

<h2>Списък Тестове</h2>

<p>
    @Html.ActionLink("Създай Тест", "Create")
</p>
<table id="tests-table">
    <thead>
        <tr>
            <th>Име</th>
            <th> - </th>
            <th> - </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var test in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => test.Name)
                </td>
                <td>
                    @Html.ActionLink("Редактирай", "Edit", new { id=test.Key })
                </td>
                <td>
                    @Html.ActionLink("Изтрии", "Delete", new { id=test.Key })
                </td>
            </tr>
        }
    </tbody>

</table>

<script>
    $(document).ready(function() {
        $('#tests-table').dataTable({
            "aoColumnDefs": [{ 'bSortable': false, 'aTargets': [1,2] }]
        });
    });
</script>
