<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="ExamEntities" connectionString="metadata=res://*/ExamModel.csdl|res://*/ExamModel.ssdl|res://*/ExamModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GEORGI-PC;initial catalog=Exam;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>