body {
}

 .main-title {
     margin: 70px 0;
 }

 .body-wrapper {
     padding: 0 50px;
 }

 table#studentId th, table#studentId td {
     padding: 4px 6px;
 }

 .submit-btn {
     margin: 10px 0;
 }

 .questions-table, .options-table{
     margin: 20px 0;
 }

 .list-qeustions li{
     margin-bottom: 20px;
     padding-bottom: 20px;
     border-bottom: 2px solid #bbb;
 }

 .add {
     float: right;
 }

 .hidden {
     display: none;
 }